.header-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-registro {
    max-width: 45.6px;
    margin-left: 10px;
}

.img-ingreso {
    max-width: 43px;
    margin-top: -0.52px;
    user-select: text;
}

.registrarse {
    color: black;
    font-size: initial;
    font-weight: 600;
    font-variant: all-petite-caps;
}

.ingresar {
    color: black;
    font-weight: 600;
    font-size: initial;
    font-variant: all-petite-caps;
}

.busqueda {
    border-radius: 25px;
    height: 40px;
    max-width: 330px;
    padding-left: 10px;
    text-indent: 10px;
}

@media screen and (max-width: 575px) {
    .ingreso-registro {
        justify-content: center;
    }
}

.ingreso-registro {
    justify-content: flex-end;
    display: inline-flex;
}

.busqueda-carrito {
    display: flex;
    align-items: center;
    justify-content: space-around
}

.active-cyan-2 input.form-control[type=text]:hover:not([readonly]) {
    border-bottom: 1px solid royalblue;
    box-shadow: 0 1px 0 0 royalblue;
}

input.form-control.search-bar {
    width: 70%
}

@media screen and (max-width: 368px) {
    .mt-2 {
        margin-top: unset !important;
    }
    input.search-bar {
        padding: 1px !important;
    }
}

@media screen and (max-width: 536px) {
    .carrito {
        width: 29px;
    }
    .active-cyan-2 input.form-control[type=text]:hover:not([readonly]) {
        width: 64% !important;
        font-size: 9px !important;
        padding: 0 !important;
        margin: 0 0 .5rem 0
    }
    .fa-search {
        font-size: 14px !important;
    }
    .logo {
        width: 68%;
    }
    .search-bar {
        font-size: 11px !important;
    }
}

.fa-search {
    color: #375886;
    font-size: 22px;
    margin-top: 5px;
}

@media screen and (min-width: 575px) {
    input.search-bar {
        font-size: medium
    }
}

.search-bar {
    font-size: 15px;
}

.carousel-indicators li {
    margin-right: 2px;
    margin-left: 2px;
}

.carousel .carousel-indicators li {
    width: 32px;
    height: 3px;
    border-radius: 0
}

.carousel-img {
    cursor: pointer;
}

.avatar {
    cursor: pointer;
    object-fit: cover;
    width: 4rem;
    border-radius: 2rem;
    box-shadow: 2px 3px 5px #666;
}

.logout-icon {
    width: 2.6rem;
}

.logout {
    line-height: 15px;
    align-items: center;
    display: inline-flex;
    align-self: center;
    cursor: pointer;
}

.logout:hover {
    transform: scale(1.10);
}

.logout-text {
    font-weight: 600;
    font-variant: petite-caps;
    font-size: small;
    line-height: 15px;
}

.md-form .form-control {
    padding: 4px 0px;
    margin: 0px;
}

.md-form {
    margin: 0
}

.panel-login {
    display: none;
}

@media screen and (min-width: 768px) {
    .panel-login {
        display: flex;
    }
    .ingreso-registro {
        justify-content: end;
    }
}