.header-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-registro {
    max-width: 45.6px;
    margin-left: 10px;
}

.img-ingreso {
    max-width: 43px;
    margin-top: -0.52px;
    user-select: text;
}

.registrarse {
    color: black;
    font-size: initial;
    font-weight: 600;
    font-variant: all-petite-caps;
}

.ingresar {
    color: black;
    font-weight: 600;
    font-size: initial;
    font-variant: all-petite-caps;
}

.logo {
    min-width: 170px;
    max-height: 68px;
}

.busqueda {
    border-radius: 25px;
    height: 40px;
    max-width: 330px;
    padding-left: 10px;
    text-indent: 10px;
}

.carrito {
    max-width: 70px;
}

.ingreso-registro {
    display: inline-flex;
}

.busqueda-carrito {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.active-cyan-2 input.form-control[type=text]:hover:not([readonly]) {
    border-bottom: 1px solid royalblue;
    box-shadow: 0 1px 0 0 royalblue;
}

.fa-search {
    color: #375886;
    margin-top: 5px;
    font-size: larger;
}

.search-bar {
    font-size: medium;
}

.carousel-indicators li {
    margin-right: 2px;
    margin-left: 2px;
}

.carousel .carousel-indicators li {
    width: 32px;
    height: 3px;
    border-radius: 0
}

.carousel-img {
    cursor: pointer;
}

.avatar {
    cursor: pointer;
    object-fit: cover;
    width: 4rem;
    border-radius: 2rem;
    box-shadow: 2px 3px 5px #666;
  }
  
  .logout-icon {
    width: 2.6rem;
  }

  .logout {
    line-height: 15px;
    align-items: center;
    display: inline-flex;
    align-self: center;
    cursor: pointer;
}

.logout:hover{
    transform: scale(1.10);
}

.logout-text {
    font-weight: 600;
    font-variant: petite-caps;
    font-size: small;
    line-height: 15px;
}

.md-form {
    margin: 0
}